:root {
	--gradient-color-1: red;
  --gradient-color-2: blue;
}


@-webkit-keyframes AnimationName {
	0%{background-position:0% 15%}
	50%{background-position:100% 86%}
	100%{background-position:0% 15%}
}

@-moz-keyframes AnimationName {
	0%{background-position:0% 15%}
	50%{background-position:100% 86%}
	100%{background-position:0% 15%}
}

@keyframes AnimationName {
	0%{background-position:0% 15%}
	50%{background-position:100% 86%}
	100%{background-position:0% 15%}
}


html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Cinzel', serif;

	background: linear-gradient(177deg, #ff2400, #ff7e00, #ffab00, #f30054);
	background-size: 800% 800%;

	-webkit-animation: AnimationName 27s ease infinite;
	-moz-animation: AnimationName 27s ease infinite;
	animation: AnimationName 27s ease infinite;

}

.container {
  width: 100%;
}

.stretched {
	white-space: nowrap;
}

.justify {
	text-align: justify;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: justify;
  width: 100%;
}

h1.splendid {
  font-size: 10em;
	background: linear-gradient(177deg, #ff2400, #ff7e00, #ffab00, #f30054);
  background-clip: text;
  -webkit-text-fill-color: transparent;
	-webkit-animation: AnimationName 7s ease infinite;
	-moz-animation: AnimationName 7s ease infinite;
	animation: AnimationName 7s ease infinite;
}

h1.emblem {
  font-size: 15em;
	background: linear-gradient(177deg, #ff2400, #ff7e00, #ffab00, #f30054);
  background-clip: text;
  -webkit-text-fill-color: transparent;
	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
}
