:root {
	--gradient-color-1: red;
  --gradient-color-2: blue;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Cinzel', serif;
  background: linear-gradient(135deg, red, blue);
}

.container {
  width: 100%;
}

.stretched {
	white-space: nowrap;
}

.justify {
	text-align: justify;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: justify;
  width: 100%;
}

h1.splendid {
  font-size: 10em;
  background: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.emblem {
  font-size: 15em;
  background: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
